# Medidas de Tendencia Central

In [1]:
#import libreria Pandas
import pandas as pd

In [8]:
ejemplos_datos={'Nombre':['Gabriel','Conrado','Cristhian','Tristan','Amira','Abril'],'Genero':['M','M','M','M','F','F'],'Puntuacion_Habilidades_Comunicativas':[80,70,56,56,57,56],'Puntuacion':[80,70,56,57,56,78]}

In [9]:
datos=pd.DataFrame(ejemplos_datos,columns=['Nombre','Genero','Puntuacion_Habilidades_Comunicativas','Puntuacion'])
datos.head(6)

      Nombre Genero  Puntuacion_Habilidades_Comunicativas  Puntuacion
0    Gabriel      M                                    80          80
1    Conrado      M                                    70          70
2  Cristhian      M                                    56          56
3    Tristan      M                                    56          57
4      Amira      F                                    57          56
5      Abril      F                                    56          78

In [10]:
# Calcula la media aritmetica
datos['Puntuacion_Habilidades_Comunicativas'].mean(axis=0)

np.float64(62.5)

# moda

In [11]:
# Calcula la moda de Puntuacion_Habilidades_Comunicativas
datos['Puntuacion_Habilidades_Comunicativas'].mode()

0    56
Name: Puntuacion_Habilidades_Comunicativas, dtype: int64

# Media

In [12]:
datos['Puntuacion_Habilidades_Comunicativas'].median()

np.float64(56.5)

## MEDIDAS DE DISPERSION

# Rango

In [13]:
columna_rango=datos['Puntuacion_Habilidades_Comunicativas'].max()-datos['Puntuacion_Habilidades_Comunicativas'].min()
print(columna_rango)

24

# Rango Intercuartilico

In [14]:
#Calcula rango intercuartilago
# Calcula el cuartl 1
q1=datos['Puntuacion_Habilidades_Comunicativas'].quantile(.25)
print(q1)
#Calcula cuartil 3
q3=datos['Puntuacion_Habilidades_Comunicativas'].quantile(.75)
print(q3)

56.0
66.75

In [15]:
iqr=q3-q1
print(iqr)

10.75

In [16]:
#Calcula varianza de la 
datos['Puntuacion_Habilidades_Comunicativas'].var()

np.float64(103.9)

In [17]:
# calcula desviacion estandar
datos['Puntuacion_Habilidades_Comunicativas'].std()

np.float64(10.193134944657606)

In [18]:
# calcula desviacion estandar
datos.describe()

       Puntuacion_Habilidades_Comunicativas  Puntuacion
count                              6.000000    6.000000
mean                              62.500000   66.166667
std                               10.193135   11.285684
min                               56.000000   56.000000
25%                               56.000000   56.250000
50%                               56.500000   63.500000
75%                               66.750000   76.000000
max                               80.000000   80.000000

## MEDIDAS DE FORMA Y CURTOSIS

In [19]:
# Calcula varianza de Puntucacion de 
datos['Puntuacion_Habilidades_Comunicativas'].skew()

np.float64(1.3571382915159942)

In [20]:
# calcula coeficinete de curtosisi de la Puntuacion_Habilidades_Comunicativas
datos['Puntuacion_Habilidades_Comunicativas'].kurtosis()

np.float64(0.4433725698712667)

# Coeficientes de covariana y correlacion

In [25]:
datos.cov

<bound method DataFrame.cov of       Nombre Genero  Puntuacion_Habilidades_Comunicativas  Puntuacion
0    Gabriel      M                                    80          80
1    Conrado      M                                    70          70
2  Cristhian      M                                    56          56
3    Tristan      M                                    56          57
4      Amira      F                                    57          56
5      Abril      F                                    56          78>

In [24]:
datos[['Puntuacion_Habilidades_Comunicativas','Puntuacion']].cov()

,Puntuacion_Habilidades_Comunicativas,Puntuacion
Puntuacion_Habilidades_Comunicativas,103.9,75.100000
Puntuacion,75.1,127.366667

# Coeficiente de corelacion de Pearson

In [29]:
# CALCULA EL COEFICIENTE CORRELACION DE PEARSON EN LAS COLUMNAS DE DATAFRAME
datos[['Puntuacion_Habilidades_Comunicativas','Puntuacion']].corr(method='pearson')

,Puntuacion_Habilidades_Comunicativas,Puntuacion
Puntuacion_Habilidades_Comunicativas,1.000000,0.652836
Puntuacion,0.652836,1.000000

In [33]:
# CALCULA EL COEFICIENTE CORRELACION DE PEARSON EN LAS COLUMNAS DE DATAFRAME
datos[['Puntuacion_Habilidades_Comunicativas','Puntuacion']].corr(method='spearman')

,Puntuacion_Habilidades_Comunicativas,Puntuacion
Puntuacion_Habilidades_Comunicativas,1.000000,0.462031
Puntuacion,0.462031,1.000000